* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.app-container,
.stat-card,
.task-item,
.dashboard-sidebar,
.dashboard-header,
.dashboard-content,
input,
textarea {
    transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

.app-container.escuro {
    --bg-pagina: #121212;
    --bg-sidebar: #1e1e1e;
    --bg-header: #1a1a1a;
    --card-bg: #1e1e1e;
    --text-color: #ffffff;
    --border-color: #333;
    --text-secondary: #888;
    --bg-hover: #2c2c2c;
    --input-task-bg: #2e3130;
    --bg-btn: #1a1a1a;
    --bg-edit-btn: #1a1a1a;
    --accent-color: #605994;
    --attention-color: #871127;

    --cancel-color: #666666;
}

.app-container.claro {
    --bg-pagina: #f0f2f5;
    --bg-sidebar: #ffffff;
    --bg-header: #ffffff;
    --card-bg: #ffffff;
    --text-color: #1a1a1a;
    --border-color: #aaa;
    --text-secondary: #666;
    --bg-hover: #f5f5f5;
    --input-task-bg: #b7c4bf;
    --bg-btn: #c5c5c5;
    --bg-edit-btn: #a9a9a9;
    --accent-color: #230ac8;
    --attention-color: #871127;

    --cancel-color: #666666;
}

.app-container {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 250px 1fr;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-pagina);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.dashboard-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    background-color: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
}

.dashboard-header h1 {
    font-size: 2.5rem;
}

.btn-tema {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    background: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.dashboard-sidebar {
    grid-area: sidebar;
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-color);
    padding: 20px 0;
    overflow-x: hidden;
}

.dashboard-sidebar h2 {
    padding: 0 20px;
    font-size: 0.9rem;
    color: var(--text-secondary);
    text-transform: uppercase;
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-sidebar li {
    padding: 12px 20px;
    color: var(--text-color);
    opacity: 0.8;
    transition: all 0.3s ease;
}

.dashboard-sidebar li:hover {
    background-color: #333;
    color: #646cff;
    padding-left: 25px;
    cursor: pointer;
}

.dashboard-content {
    grid-area: content;
    background-color: var(--bg-pagina);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.title-and-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.title-and-stats h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    white-space: nowrap;
    font-size: 1.5rem;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "stat-card stat-card stat-card"
        "progress-bar progress-bar progress-bar";
    gap: 5px;
    background: var(--bg-container);
    border-radius: 8px;
}

.stats-text {
    /* grid-area: stats-text; */
    display: flex;
    display: none;
    justify-content: space-between;
    margin-bottom: 2px;
    font-weight: bold;
    color: var(--text-color);
}



.progress-bar-bg {
    grid-area: progress-bar;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    height: 100%;
    background: linear-gradient(90deg, #3b8f3e, #9ae742);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 5px;
}

.stat-card {
    /* grid-area: stat-card; */
    background-color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stat-card span {
    font-size: 0.8rem;
    color: #888;
    text-transform: uppercase;
}

.stat-card strong {
    font-size: 1.5rem;
    font-size: inherit;
}

.sucsses {
    color: #4caf50;
}

.warning {
    color: #ff9800;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    height: 42px;
}

.search-icon-svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: var(--text-secondary);
    opacity: 0.5;
    pointer-events: none;
    z-index: 2;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 0 10px 0 40px !important;
    margin-bottom: 0 !important;
    border: 1px dashed #646cff;
    border-radius: 8px;
    color: var(--text-color);
    outline: none;
}

.tasks-container {
    min-height: 200px;
    height: auto;
    padding-right: 10px;
}

.task-list {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    /* Evita que as tarefas fiquem largas demais em telas grandes */
    margin: 0 auto;
}

.task-list h2 {
    font-size: 1.8rem;
    padding-bottom: 5px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
    background: #1e1e1e;
    transition: transform 0.2s, background-color 0.3s ease;
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
}

.task-item:hover {
    transform: translateY(-2px);
    background-color: var(--bg-hover);
    /* Pequena flutuação */
    border-color: #444;
}

.task-item.deleting {
    border-color: #ff4d4d !important;
    background-color: rgba(255, 77, 77, 0.1) !important;
    transform: scale(0.98);
    transition: all 0.2s ease;
}

.task-item.deleting span {
    color: #ff4d4d !important;
    text-decoration: none;
}

.task-content {
    display: flex;
    height: 44px;
}

.edit-input {
    height: 24px;
    font-size: inherit;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
}

.text-wrapper>span,
.text-wrapper>small {
    margin-left: 4px;
}

.task-text {
    flex: 1;
    margin-left: 10px;
}

.task-item.completed {
    opacity: 0.6;
    background-color: #1a1a1a;
    border-color: #2e7d32;
}

.task-item.completed span {
    text-decoration: line-through;
    color: #888;
}

.task-item span {
    cursor: pointer;
    flex: 1;
}

.task-form {
    margin-bottom: 30px;
    width: 100%;
    background-color: var(--bg-header);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.task-form input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--input-task-bg);
    color: white;
}

.task-form textarea {
    width: 100%;
    min-height: 80px;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--input-task-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    font-family: inherit;
    resize: vertical;
}

.select-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.task-form select {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--input-task-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    outline: none;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.cancel-btn {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--cancel-color);
    /* background-color: transparent; */
    color: var(--text-color);
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.cancel-btn:hover {
    background-color: var(--bg-hover);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.add-btn {
    background-color: #646cff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #535bf2;
}

.task-actions {
    display: flex;
    gap: 5px;
}

.edit-btn {
    border-color: var(--border-color);
}

.edit-btn:hover {
    background-color: var(--bg-edit-btn);
    border-color: var(--accent-color);
}

.delete-btn {
    background-color: transparent;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    padding: 6px 12px;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff4d4d;
    color: white;
    border-color: var(--attention-color);
}

.action-btn {
    background-color: var(--bg-btn);
}

.stat-card,
.search-input {
    background-color: var(--card-bg);
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
}



.input-main {
    font-weight: bold;
    font-size: 1.1rem;
}



.search-input::placeholder {
    color: var(--text-secondary);
}

input {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

@media (max-width:768px) {
    .app-container {
        grid-template-areas:
            "header"
            "sidebar"
            "content";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        height: 100vh;
        overflow-y: auto;
    }

    .dashboard-header {
        padding: 10px;
    }

    .dashboard-header h1 {
        font-size: 1.1rem;
    }

    .dashboard-sidebar {
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        padding: 10px;
    }

    .dashboard-sidebar ul {
        display: flex;
        justify-content: space-around;
    }

    .dashboard-sidebar li {
        padding: 10px;
        font-size: 0.8rem;
    }

    .nova-tarefa {
        width: 100%;
        padding: 15px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 15px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        background-color: var(--accent-color);
        color: white;
    }

    .dashboard-content {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-and-stats {
        display: block;
        margin-bottom: 10px;
    }

    .search-container {
        max-width: 100%;
    }

    .task-list {
        width: 100%;
        max-width: 100%;
    }

    .task-list h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    .stats-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .title-and-stats h2,
    .stats-container,
    .search-container {
        margin-bottom: 5px;
    }



    .stat-card {
        padding: 8px 5px;
    }

    .stat-card span {
        font-size: 0.65rem;
        margin-bottom: 2px;
    }

    .stat-card strong {
        font-size: 1.1rem;
    }

    .task-content {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 10px;
        min-height: 40px;
        min-width: 0;
    }

    .task-form {
        flex-direction: column;
        gap: 15px;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }



    .task-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-items: center;
        padding: 12px 15px;
        gap: 10px;
    }

    .task-item span {
        word-break: break-word;
        margin-right: 0px;
        flex: none;
    }

    .task-text {
        flex: 1;
        margin-left: 5px;
        text-align: left;
        display: flex;
        align-items: center;
        word-break: break-word;
    }

    .task-actions {
        display: flex;
        flex-shrink: 0;
        /*impede que botoes diminuam*/
        gap: 8px;
    }

    .edit-input {
        flex: 1;
        width: 100%;
        background: var(--input-task-bg) !important;
        border: 1px solid var(--accent-color) !important;
        color: var(--text-color) !important;
        padding: 4px 8px;
        margin: 0;
        border-radius: 4px;
        font-size: inherit;
        font-family: inherit;
        outline: none;
    }

    .btn-tema {
        transform: scale(0.9);
        font-size: .7rem;
        padding: 8px;
    }

    .dashboard-sidebar h2 {
        display: none;
        /* remove o Menu  */
    }

    .dashboard-sidebar {
        padding: 5px 0;
    }

    .dashboard-sidebar li:hover {
        padding: 10px;
    }

    .form-inputs,
    .select-group,
    .form-footer {
        display: flex;
        flex-direction: column;
        /* Garante que grupos internos também empilhem */
        width: 100%;
        gap: 10px;
    }

    .form-footer {
        /* para reservar espaço para o toast */
        min-height: 100px;
        justify-content: flex-start;
    }

    .select-group {
        flex-direction: row !important;
    }

    .btn-container {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .cancel-btn {
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--border-color);
        background-color: var(--cancel-color);
        /* background-color: transparent; */
        color: var(--text-color);
        cursor: pointer;
        font-weight: 500;
        transition: all 0.3s ease;
    }

    .cancel-btn:hover {
        background-color: var(--bg-hover);
        border: 1px solid var(--border-color);
        color: var(--text-color);
    }

    .add-btn {
        flex: 1;
        padding: 10px;
        border-radius: 8px;
        border: none;
        background-color: var(--accent-color);
        color: white;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    .toast-container {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .toast-success {
        background-color: #4caf50;
        color: white;
        padding: 4px 12px;
        border-radius: 15px;
        font-size: 0.8rem;
        font-weight: 500;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.3s ease-in-out;
    }

}