.app-container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 250px 1fr;
}

.dashboard-header {
    grid-area: header;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 20px;
    background-color: #1a1a1a;
}

.dashboard-sidebar {
    grid-area: sidebar;
    background-color: #1e1e1e;
    border-right: 1px solid #333;
    padding: 20px 0;
}

.dashboard-sidebar h2 {
    padding: 0 20px;
    font-size: 0.9rem;
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-sidebar li {
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #ccc;
}

.dashboard-sidebar li:hover {
    background-color: #333;
    color: #646cff;
    padding-left: 25px;
}

.dashboard-content {
    grid-area: content;
    background-color: #121212;
    padding: 40px;
    overflow-y: auto;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dashed #646cff;
    border-radius: 8px;
    background: transparent;
    color: white;
}

.task-list {
    max-width: 800px;
    /* Evita que as tarefas fiquem largas demais em telas grandes */
    margin: 0 auto;
}

.task-list h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 25px;
    margin-bottom: 12px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 12px;
    transition: transform 0.2s;
}

.task-item:hover {
    transform: translateY(-2px);
    /* Pequena flutuação */
    border-color: #444;
}

.task-item.completed{
    opacity: 0.6;
    background-color: #1a1a1a;
    border-color: #2e7d32;
}

.task-item.completed span {
    text-decoration: line-through;
    color: #888;
}

.task-item span {
    cursor: pointer;
    flex: 1;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.task-form input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: white;
}

.add-btn {
    background-color: #646cff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #535bf2;
}

.delete-btn {
    background-color: transparent;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    padding: 6px 12px;
    font-size: 0.8rem;

    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff4d4d;
    color: white;
}