* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.app-container,
.stat-card,
.task-item,
.dashboard-sidebar,
.dashboard-header,
input {
    transition: background-colo 3s ease, color 3s ease, border-color 3s ease;
}

.app-container.escuro {
    --bg-pagina: #121212;
    --bg-sidebar: #1e1e1e;
    --bg-header: #1a1a1a;
    --card-bg: #1e1e1e;
    --text-color: #ffffff;
    --border-color: #333;
    --text-secondary: #888;
    --bg-hover: #2c2c2c;
}

.app-container.claro {
    --bg-pagina: #f0f2f5;
    --bg-sidebar: #ffffff;
    --bg-header: #ffffff;
    --card-bg: #ffffff;
    --text-color: #1a1a1a;
    --border-color: #ddd;
    --text-secondary: #666;
    --bg-hover: #f5f5f5;
}

.app-container {

    display: grid;
    grid-template-areas:
        'header header'
        'sidebar content';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 250px 1fr;

    width: 100%;
    max-width: 100vw;
    /* min-height: 100vh; */
    height: 100vh;
    overflow: hidden;

    background-color: var(--bg-pagina);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.dashboard-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    background-color: var(--bg-header);
    border-bottom: 1px solid var(--border-color);
    /* margin-bottom: 10px; */
}

.dashboard-header h1 {
    font-size: 2.5rem;
}

.btn-tema {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
    background: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.dashboard-sidebar {
    grid-area: sidebar;
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-color);
    padding: 20px 0;
    overflow-x: hidden;
}

.dashboard-sidebar h2 {
    padding: 0 20px;
    font-size: 0.9rem;
    color: var(--text-secondary);
    text-transform: uppercase;
    /* letter-spacing: 1px; */
}

.dashboard-sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-sidebar li {
    padding: 12px 20px;
    /* transition: all 0.2s ease; */
    color: var(--text-color);
    opacity: 0.8;
    transition: all 0.3s ease;
}

.dashboard-sidebar li:hover {
    background-color: #333;
    color: #646cff;
    padding-left: 25px;
    cursor: pointer;
}

.dashboard-content {
    grid-area: content;
    background-color: var(--bg-pagina);
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.stat-card {
    background-color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #333;
}

.stat-card span {
    display: block;
    font-size: 0.8rem;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.stat-card strong {
    font-size: 1.5rem;
}

.sucsses {
    color: #4caf50;
}

.warning {
    color: #ff9800;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dashed #646cff;
    border-radius: 8px;
    background: transparent;
    color: white;
}

.task-list {
    width: 100%;
    max-width: 800px;
    /* Evita que as tarefas fiquem largas demais em telas grandes */
    margin: 0 auto;
}

.task-list h2 {
    margin-bottom: 25px;
    font-size: 1.8rem;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px;
    margin-bottom: 12px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 12px;
    transition: transform 0.2s, background-color 0.3s ease;
    cursor: pointer;
    user-select: none;

    background-color: var(--card-bg);
    color: var(--text-color) ;
    border: 1px solid var(--border-color);
}

.task-item:hover {
    transform: translateY(-2px);
    background-color: var(--bg-hover);
    /* Pequena flutuação */
    border-color: #444;
}

.task-text {
    flex: 1;
    margin-left: 10px;
}

.task-item.completed {
    opacity: 0.6;
    background-color: #1a1a1a;
    border-color: #2e7d32;
}

.task-item.completed span {
    text-decoration: line-through;
    color: #888;
}

.task-item span {
    cursor: pointer;
    flex: 1;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.task-form input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: white;
}

.add-btn {
    background-color: #646cff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #535bf2;
}

.delete-btn {
    background-color: transparent;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    padding: 6px 12px;
    font-size: 0.8rem;

    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff4d4d;
    color: white;
}

.stat-card,
.search-input,
.task-form input {
    background-color: var(--card-bg);
    color: var(--text-color) !important;
    border: 1px solid var(--border-color) !important;
}

/* .search-input {
   background-color: #565be31c !important; 
} */

.search-input::placeholder {
    color: var(--text-secondary);
}

input {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

@media (max-width:768px) {
    .app-container {
        grid-template-areas:
            "header"
            "sidebar"
            "content";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        height: auto;
        overflow-y: auto;
    }

    .dashboard-header {
        padding: 10px;
    }

    .dashboard-header h1 {
        font-size: 1.1rem;
    }

    .dashboard-sidebar {
        border-right: none;
        border-bottom: 1px solid var(--border-color);
        padding: 10px;
    }

    .dashboard-sidebar ul {
        display: flex;
        justify-content: space-around;
    }

    .dashboard-sidebar li {
        padding: 10px;
        font-size: 0.8rem;
    }

    .dashboard-content {
        padding: 15px;
    }

    .stats-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        margin-bottom: 15px;
    }

    .stat-card {
        padding: 8px 5px;
    }

    .stat-card span {
        font-size: 0.65rem;
        margin-bottom: 2px;
    }

    .stat-card strong {
        font-size: 1.1rem;
    }

    .task-form {
        flex-direction: column;
    }

    .task-list h2 {
        font-size: 1.3rem;
        margin-bottom: 15px;
        text-align: center;
    }

    .task-item {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .task-item span {
        word-break: break-word;
        margin-right: 10px;
    }

    .btn-tema {
        transform: scale(0.9);
        font-size: .7rem;
        padding: 8px;
    }

    .dashboard-sidebar h2 {
        display: none;
        /* remove o Menu  */
    }

    .dashboard-sidebar {
        padding: 5px 0;
    }

    .dashboard-sidebar li:hover {
        padding: 10px;
    }

}