body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  flex: 1;
}

.app-container {
    display: grid;
    width: 100%;
    flex: 1;
    height: 100vh;

    grid-template-columns: 250px 1fr;

    grid-template-rows: auto 1fr;

    grid-template-areas:
        "header header"
        "sidebar main";
}

.app-header {
    /*coloca o elemento no espaço "header" */
    grid-area: header;
    background-color: #3f51b5;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.content-area {
    grid-area: main;
    padding: 20px;
}

.task-list {
    padding: 10px;
}

.task-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 4px;
}